<div class="card align-items-center ">
    <img width="100px" [src]="contact.photo" alt="">
    <div class="card-body">
        <h5 class="card-title">{{contact.name}}</h5>
        <p><i class="fa-solid fa-id-card"></i>: {{contact.id}} </p>
        <p><i class="fa-solid fa-mobile"></i>: {{contact.mobile}} </p>
        <p><i class="fa-solid fa-envelope"></i>: {{contact.email}} </p>
        <p><i class="fa-solid fa-building"></i>: {{contact.company}} </p>
        <p><i class="fa-solid fa-person-digging"></i>: {{contact.title}} </p>
        <p><i class="fa-solid fa-users-line"></i>: {{group}} </p>
    </div>
</div>